<main class='main'>
  <div class='container'>
    <h1>Создание формы</h1>
    <div class='main__wrapper'>
      <div class='main__menu border' [ngSwitch]='mode'>
        <div class='main__menu-buttons'>
          <button
            class='main__menu-btn cursor-pointer'
            (click)='toggle("constructor")'
            [ngClass]="{'active': mode === 'constructor'}"
          >
            <i class="pi pi-home icon"></i>
            Конструктор
          </button>
          <button
            class='main__menu-btn cursor-pointer'
            (click)='toggle("settings")'
            [ngClass]="{'active': mode === 'settings'}"
          >
            <i class="pi pi-cog icon"></i>
            Настройки
          </button>
        </div>
        <ng-container *ngSwitchCase="'constructor'">
          <ng-container *ngTemplateOutlet='constructor'></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'settings'">
          <ng-container *ngTemplateOutlet='settings'></ng-container>
        </ng-container>
      </div>
      <div class='main__display-form'>

        <div class='form__info border'>
          <input class='form-input form__info-title' type='text' placeholder='Название'>
          <textarea class='form-input' type='text' placeholder='Описание'></textarea>
        </div>


        <!--------- DROP LIST --------->
        <div
          class='form-elements border'
        >
<!--      Первая зона сброса-->
          <ng-container *ngTemplateOutlet="dropZone; context: {index: 0}"></ng-container>

          @for (element of formElements; track element.id; let i = $index) {
            <div
              class='form-element-wrapper'
            >
              <ng-container>
                @switch (element.label) {
                  @case ('Однострочный ответ') {
                    <app-text-answer [typeAnswer]="'single'"/>
                  }
                  @case ('Многострочный ответ') {
                    <app-text-answer [typeAnswer]="'multi'"/>
                  }
                  <!--              @case ('Список одиночного выбора') {-->
                    <!--                <app-choice-answer [type]="'single'" />-->
                    <!--              }-->
                    <!--              @case ('Список множественного выбора') {-->
                    <!--                <app-choice-answer [type]="'multiple'" />-->
                    <!--              }-->
                }
              </ng-container>
              <ng-container *ngTemplateOutlet="dropZone; context: {index: i+1}"></ng-container>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #constructor>
  <div
    class='content'
  >
    <h3 class='content__heading'>Элементы формы</h3>

    <!-------    DRAG LIST --------->
    <ul
      class='content__list'
    >
      @for (item of drugItems; track item.label) {
        <li
          draggable="true"
          (dragstart)="onDragStart($event, item)"
          class='content__list-item cursor-pointer'
        >
          <i [class]='item.icon' class='icon'></i> {{ item.label }}
        </li>
      }
    </ul>
    <div class='content__actions'>
      <h3 class='content__heading'>Действия</h3>
      <button class='content__action-save-btn cursor-pointer'><i class='pi pi-save icon'></i>Сохранить форму</button>
    </div>
  </div>
</ng-template>

<ng-template #settings>
  <div class='content'>
    <h3 class='content__heading'>Настройки</h3>
  </div>
</ng-template>

<ng-template #dropZone let-index="index">
  <div class="drop-indicator"
       [ngClass]="{'active': activeDropZone === index}"
       (dragover)="onDragOver($event, index)"
       (drop)="onDrop($event, index)"
       (dragleave)="onDragLeave($event)"
  >
    <div class='line'></div>
  </div>
</ng-template>
