<main class='main'>
  <div class='container'>
    <h1>Создание формы</h1>
    <div class='main__wrapper'>
      <div class='main__menu border' [ngSwitch]='mode'>
        <div class='main__menu-buttons'>
          <button
            class='main__menu-btn cursor-pointer'
            (click)='toggle("constructor")'
            [ngClass]="{'active': mode === 'constructor'}"
          >
            <i class="pi pi-home icon"></i>
            Конструктор
          </button>
          <button
            class='main__menu-btn cursor-pointer'
            (click)='toggle("settings")'
            [ngClass]="{'active': mode === 'settings'}"
          >
            <i class="pi pi-cog icon"></i>
            Настройки
          </button>
        </div>
        <ng-container *ngSwitchCase="'constructor'">
          <ng-container *ngTemplateOutlet='constructor'></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'settings'">
          <ng-container *ngTemplateOutlet='settings'></ng-container>
        </ng-container>
      </div>
      <div class='main__display-form'>

        <div class='form__info border'>
          <input class='form-input form__info-title' type='text' placeholder='Название'>
          <textarea class='form-input' type='text' placeholder='Описание'></textarea>
        </div>

<!--------- DROP LIST --------->
        <div
          class='form-elements border'
          cdkDropList
          id="form-elements-list"
          [cdkDropListData]='formElements'
          (cdkDropListDropped)="onDrop($event)"
          [cdkDropListConnectedTo]="['menuItemsList']"
        >
          @for (element of formElements; track element.id) {
          <ng-container cdkDrag [cdkDragData]="element">
            @switch (element.label) {
              @case ('Однострочный ответ') {
                <app-text-answer cdkDrag [typeAnswer]="'single'" />
              }
              @case ('Многострочный ответ') {
                <app-text-answer cdkDrag [typeAnswer]="'multi'" />
              }
<!--              @case ('Список одиночного выбора') {-->
<!--                <app-choice-answer [type]="'single'" />-->
<!--              }-->
<!--              @case ('Список множественного выбора') {-->
<!--                <app-choice-answer [type]="'multiple'" />-->
<!--              }-->
            }
          </ng-container>
          }
        </div>
      </div>
    </div>
  </div>
</main>

<ng-template #constructor>
  <div
    class='content'
  >
    <h3 class='content__heading'>Элементы формы</h3>

<!-------    DRAG LIST --------->
    <ul
      class='content__list'
      cdkDropList
      id="menuItemsList"
      [cdkDropListData]="drugItems"
      (cdkDropListDropped)="onDrop($event)"
    >
      @for (item of drugItems; track item.label) {
        <li
          class='content__list-item cursor-pointer'
          cdkDrag
          [cdkDragData]="item"
        >
          <ng-template cdkDragPreview>
            <li class="content__list-item cursor-pointer preview">
              <i [class]="item.icon" class="icon"></i> {{item.label}}
            </li>
          </ng-template>

          <i [class]='item.icon' class='icon'></i> {{item.label}}
        </li>
      }
    </ul>
    <div class='content__actions'>
      <h3 class='content__heading'>Действия</h3>
      <button class='content__action-save-btn cursor-pointer'><i class='pi pi-save icon'></i>Сохранить форму</button>
    </div>
  </div>
</ng-template>

<ng-template #settings>
  <div class='content'>
    <h3 class='content__heading'>Настройки</h3>
  </div>
</ng-template>
