.header {
  border-bottom: 3px solid #646cff;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.heading {
  font-family: "Winky Rough", sans-serif;
  font-weight: 700;
  color: #898FFF;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__link {
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav__link:hover {
  color: #646cff;
}

.nav__btn-logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 1.5rem;
  margin-left: 60px;
}

.nav__btn-logout:hover {
  color: #646cff;
}

.active {
  color: #898FFF;
}
