:host {
  display: block;
  width: 100%;
}
input {
  width: 100%;
}

.form__element {
  border: 2px solid var(--border-dark);
  box-shadow: 0 6px 10px rgba(100, 108, 255, 0.15);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 25px;
}

.form__element-header {
  padding: 15px 20px;
  width: 100%;
  display: block;
  border-bottom: 1px solid var(--border-dark);
}

.form__element-options {
  margin-left: 18px;
  display: flex;
  padding: 10px 20px;
  flex-direction: column;
}

.form-element__option {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form__element-option--type {
  flex-shrink: 0;
  background-color: rgba(214, 212, 212, 0.65);
  width: 15px;
  height: 15px;
  margin-right: 8px;

  &.radio {
    border-radius: 50%;
  }

  &.checkbox {
    border-radius: 4px;
  }
}

.form-element__option-input {
  flex-grow: 1;
}

.form-element__add-btn {
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 4px;
  outline: none;
  color: var(--text-light);
  font-weight: 300;
  cursor: pointer;
  padding: 10px 15px;
  margin-left: 70px;
  transition: 0.2s ease-in-out;
}

.form-element__add-btn:hover {
  background-color: var(--primary-hover);
  font-weight: 400;
}

.form__element-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  border-top: 1px solid var(--border-dark);
}

.form__element-type {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-element__actions {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.form__element-delete-btn {
  border: none;
  outline: none;
  background: none;
  padding: 10px;

  i {
    color: red;
    opacity: 0.8;
  }
}

.form__element-delete-btn:hover {
  background-color: var(--accent);
  border-radius: 8px;
}

.form__element-copy-btn {
  border: none;
  outline: none;
  background: none;
  padding: 10px;

  i {
    color: var(--text-light);
  }
}

.form__element-copy-btn:hover {
  background-color: var(--bg-light);
  border-radius: 8px;
}

.form-element__options-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.drop--zone {
  border-left: 1px solid var(--border-dark);
  color: var(--text-light);
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;


  .icon {
    position: relative;
    left: -3px;
    width: 7px;
  }
}

.drop--zone:hover {
  color: var(--accent);
}

// Попап для копирования
.form__element--menu-copy-wrapper {
  position: absolute;
  bottom: 50px;
  right: -17px;
  padding: 10px 10px;
  z-index: 10;
  background-color: rgba(100, 108, 255);
  width: 270px;
  border-radius: 10px;
}

.copy__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.copy__menu-arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 16px;
  height: 16px;
  z-index: -100;
  background-color: rgba(100, 108, 255);
  transform: translateX(-50%) rotate(45deg);
}

.copy__menu-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px;

  i {
    color: var(--text-light);
  }
}

.copy__menu-btn {
  border: none;
  outline: none;
  background: none;
  text-align: center;
  padding: 5px 10px;
  color: var(--text-light);
  font-weight: 300;
}

.copy__menu-btn-wrapper:hover {
  background-color: rgba(117, 127, 193, 0.62);
  border-radius: 6px;
}
// --------------------------------


// Тогл
.form-element__toggle {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

/* Hide default HTML checkbox */
.form-element__toggle input {display:none;}

.form-element__toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.form-element__toggle-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .form-element__toggle-slider {
  background-color: var(--primary);
}

input:focus + .form-element__toggle-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .form-element__toggle-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.form-element__toggle-slider:before {
  border-radius: 50%;
}
// --------------------------------

