<div
  [ngSwitch]='mode'
  [@formSwitch]="mode"
  class='container'>
  <ng-container *ngSwitchCase="'login'">
    <ng-container *ngTemplateOutlet=login></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="'register'">
    <ng-container *ngTemplateOutlet=register></ng-container>
  </ng-container>
</div>


<!--    Форма логина   -->
<ng-template #login>
  <form class='form' [formGroup]="loginForm" (ngSubmit)='onSubmitLogin()'>
    <div class='form__icon'>
      <img src='../../../../assets/images/login-page/login.svg' alt='login icon'>
    </div>

    <h1 class='form__heading'>Авторизация</h1>
    <p class='form__desc'>Войти с помощью почты</p>

    <div class='form__controls-wrapper'>
      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/email.svg'>
        <input
          class='form__control form__control-email'
          [ngClass]="{'invalid-form-control' : loginForm.get('email')?.invalid && loginForm.get('email')?.touched}"
          placeholder='Email'
          formControlName='email'
        >

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <span>
            @if (loginForm.get('email')?.errors?.['required']) {
              <small class='error-text'>Email обязателен</small>
            }

            @if (loginForm.get('email')?.errors?.['email']) {
              <small class='error-text'>Укажите корректный email</small>
            }
          </span>
        }
      </div>

      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/password.svg'>
        <input
          class='form__control form__control-password'
          placeholder='Пароль'
          formControlName='password'
          type='password'
        >

        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <span>
            @if (loginForm.get('password')?.errors?.['required']) {
              <small class='error-text'>Пароль обязателен</small>
            }
          </span>
        }
      </div>
    </div>

    <button class='form__btn button' type='submit'>Войти</button>

    <div class='form__actions'>
      <p class='form__action'>Забыли пароль? <a class='link'>Сбросить</a></p>
      <p class='form__action'>Нет аккаунта?
        <button class='link btn-link' (click)='toggleMode($event, "register")'>Зарегистрироваться</button>
      </p>
    </div>
  </form>
</ng-template>


<!--    Форма регистрации   -->
<ng-template #register>
  <form class='form' [formGroup]="registerForm" (ngSubmit)='onSubmitRegister()'>
    <div class='form__icon'>
      <img src='../../../../assets/images/login-page/add-profile.svg' alt='login icon'>
    </div>

    <h1 class='form__heading'>Регистрация</h1>
    <p class='form__desc'>Зарегестрироваться с помощью почты</p>

    <div class='form__controls-wrapper'>
      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/user.svg'>
        <input
          class='form__control form__control-email'
          placeholder='Имя'
          formControlName='firstName'
        >

        @if (registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched) {
          <span>
            @if (registerForm.get('firstName')?.errors?.['required']) {
              <small class='error-text'>Имя обязательно</small>
            }
          </span>
        }
      </div>

      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/user.svg'>
        <input
          class='form__control form__control-password'
          placeholder='Фамилия'
          formControlName='lastName'
        >

        @if (registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched) {
          <span>
            @if (registerForm.get('lastName')?.errors?.['required']) {
              <small class='error-text'>Фамилия обязательна</small>
            }
          </span>
        }
      </div>

      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/email.svg'>
        <input
          class='form__control form__control-password'
          placeholder='Email'
          formControlName='email'
        >

        @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
          <span>
            @if (registerForm.get('email')?.errors?.['required']) {
              <small class='error-text'>Email обязателен</small>
            }

            @if (registerForm.get('email')?.errors?.['email']) {
              <small class='error-text'>Укажите корректный email</small>
            }
          </span>
        }
      </div>

      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/password.svg'>
        <input
          class='form__control form__control-password'
          placeholder='Введите пароль'
          formControlName='password'
          type='password'
        >

        @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
          <span>
            @if (registerForm.get('password')?.errors?.['required']) {
              <small class='error-text'>Пароль обязателен</small>
            }

            @if (registerForm.get('password')?.errors?.['minLength']) {
              <small class='error-text'>Пароль должен быть не менее 6 символов</small>
            }
          </span>
        }
      </div>

      <div class='form__control-wrapper'>
        <img class='form__control--img' src='../../../../assets/images/login-page/password.svg'>
        <input
          class='form__control form__control-password'
          placeholder='Повторите пароль'
          formControlName='confirmPassword'
          type='password'
        >

        @if (registerForm.get('confirmPassword')?.touched) {
          <span>
            @if (registerForm.get('confirmPassword')?.hasError('required')) {
              <small class='error-text'>Подтвердите пароль</small>
            }

            @if (passwordMatch) {
              <small class='error-text'>Пароли не совпадают</small>
            }
          </span>
        }
      </div>
    </div>

    <button class='form__btn button' type='submit'>Войти</button>

    <div class='form__actions'>
      <p class='form__action'>Есть аккаунт?
        <button class='link btn-link' (click)='toggleMode($event, "login")'>Войти</button>
      </p>
    </div>
  </form>
</ng-template>
