/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cascadia Code", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.link {
  cursor: pointer;
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

.btn-link {
  font-size: 1em;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.link:hover {
  color: #535bf2;
}

img {
  max-width: 100%;
}

.button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #646cff;
  box-shadow: 0 0 8px rgba(100, 108, 255, 0.5);
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.container {
  max-width: 1300px;
  margin: 0 auto;
}

.error-text {
  color: red;
}

.invalid-form-control {
  border: 2px solid red !important;
}
